vs2013 引用外部程序 exe文件和debug（release）放在同一文件夹
{
    TCHAR lpBin[MAX_PATH];
	InitPath(lpBin, NULL, NULL);
	CString name = _T("MicroScope.exe");
	ShellExecute(NULL, _T("open"), name, NULL, lpBin, SW_SHOWNORMAL);
}

vs2013 most basic c++ show string
#include<iostream>
int main()
{
	std::cout << "Enter two numbers:" << std::endl;

	int v1 = 0, v2 = 0;
	std::cin >> v1 >> v2;
	std::cout << "The sum of " << v1 << " and " << v2
		<< " is " << v1 + v2 << std::endl;
	return 0;
}

vs2013 简单的加和显示 while语句（return 0 不间断点 无法显示）
#include <iostream>
int main()
{
	int sum = 0, val = 1;
	while (val<=10)
	{
		sum += val;
		++val;
	}
	std::cout << "Sum of 1 to 10 is" << sum << std::endl;
	return 0;
}



vs加和显示 for循环 （解决了 运行无法显示的问题 加上 system("pasuse") 即可 ）
#include <iostream>
int main()
{
	int sum = 0;
	for (int val = 1; val <= 10;++val)
	sum += val;
	std::cout << "Sum of 1 to 10 is" << sum << std::endl;
	system("pause");
	return 0;
}

#include <iostream>
int main()
{
	int sum = 0, value = 0;
	
	while (std::cin >> value)
	{
		sum += value;
	}
	std::cout << "Sum  is" << sum << std::endl;
	system("pause");
	return 0;
}

#include<iostream>
int main()
{
	int currVal = 0, val = 0;

	if (std::cin>>currVal)
	{
		int cnt = 1;
		while (std::cin >> val)
		{ 
			if (val == currVal)
				++cnt;
			else
			{
				std::cout << currVal << " occurs " << cnt << " times "<<std::endl;
				currVal = val;
				cnt = 1;
			}
		}
		std::cout << currVal << " occurs " << cnt << " times " << std::endl;
	}
	system("pause");
	return 0;
}

类：定义了一个类型，以及与其相关联的一组操作，是c++最重要的特性之一。
对于书店程序，定义类名为Sale_item
头文件 Sale_item.h中已经定义了。
为了使用标准库，，必须包相应的头文件。
我们可以定义类类型的变量，类定义了对类的对象你可以执行的操作。
标准库头文件使用<>,非标准库使用 ""

库的相关操作 默认搜索默认目录下 把.h文件包括过去即可
#include<iostream>
#include"Sales_item.h"
int main()
{
	Sales_item item1, item2;
	std::cin >> item1 >> item2;
	std::cout << item1 + item2 << std::endl;
	system("pause");
	return 0;
}

#include<iostream>
#include"Sales_item.h"
int main()
{
	Sales_item total;
	if (std::cin >> total)
	{
		Sales_item trans;
		while (std::cin >> trans)
		{
			if (total.isbn() == trans.isbn())
				total = total + trans;
			else{
				std::cout << total << std::endl;
			    }
		}
		std::cout << total << std::endl;
	}
	else{
		std::cout << "Your input is wrong" << std::endl;
		return -1;
	}
	system("pause");
	return 0;
}

struct Sales_data {
	std::string bookNo;
	unsigned units_sold = 0;
	double revenue = 0.0;

};

#include<iostream>
using std::cin;
using std::cout;
int main()
{
	int i;
	cin >> i;
	cout << i;
	system("pause");
	return 0;
}

#include<iostream>
using std::cin;
using std::cout;
using std::endl;
int main()
{
	cout << "Enter two numbers" << endl;
	int v1, v2;
	cin >> v1 >> v2;
	cout << "the number of " << v1 << "and" << v2 << "is" << v1+v2<<endl;
	system("pause");
	return 0;
}

  #include<iostream>
#include<string>
using std::string;
using std::cin;
using std::cout;
using std::endl;
int main()
{
	string s;
	cin >> s;
	cout << s << endl;
	system("pause");
	return 0;
}

#include<iostream>
#include<string>
using std::string;
using std::cin;
using std::cout;
using std::endl;
int main()
{
	string word;
	while (cin >> word)
		cout << word << endl;
	system("pause");
	return 0;
}

#include<iostream>
#include<string>
using std::string;
using std::cin;
using std::cout;
using std::endl;
int main()
{
	string str("some string");
	for (auto c : str)
		cout <<  c << endl;
	system("pause");
	return 0;

}

#include<iostream>
#include<string>
using std::string;
using std::cin;
using std::cout;
using std::endl;
int main()
{
	string s("Hello world!!");
	decltype(s.size()) punct_cnt = 0;
	for (auto c : s)
		if (ispunct(c))
			++punct_cnt;
		cout <<  punct_cnt<<"punctuation characters is in the "<<s<< endl;
	system("pause");
	return 0;

}

#include<iostream>
#include<string>
using std::string;
using std::cin;
using std::cout;
using std::endl;
int main()
{
	string s("Hello world!!");
	for (auto &c : s)
		c = toupper(c);
		cout << s<< endl;
	system("pause");
	return 0;

}

#include<iostream>
#include<string>
using std::string;
using std::cin;
using std::cout;
using std::endl;
int main()
{
	string s("Hello world!!");
	for (
		decltype(s.size()) index = 0;
		index != s.size() && ! isspace (s[index]); ++index)
	s[index] = toupper(s[index]);
			cout << s << endl;
	system("pause");
	return 0;

}

  #include<iostream>
#include<string>
using std::string;
using std::cin;
using std::cout;
using std::endl;
int main()
{
	string s("0123456789ABCDEF");
	cout << "Enter a  series of numbers between 0 and 15 separted by spaces. Hit Enter when finished" << endl;
	string result;
	string::size_type n;
	while (cin >> n)
	if (n < s.size())
		result = result + s[n];
			cout << "Your result is " <<result<< endl;
	system("pause");
	return 0;
}

#include<iostream>
#include<vector>
using namespace std;
int main()
{
	vector<int>v;
	int num;
	cin >> num;
	int a;
	for (int i = 0; i < num; i++)
	{
		cin >> a;
		v.push_back(a);
	}
	for (auto i : v)
	{
		cout << i << endl;
	}
}
  
  #include<iostream>
#include<vector>
using namespace std;
int main()
{
	vector<int>v{1,2,3,4,5,6,7,8,9};
	for (auto &i : v)
		i = i*i;
	for (auto &i : v)
		cout << i << endl;
	system("pause");
	return 0;
}
